.env


# Ignoriere den Inhalt der log- und data-Ordner, aber behalte die Ordner
mosquitto/log/*
mosquitto/data/*

# Stelle sicher, dass die Ordner selbst in Git bleiben
!mosquitto/log/
!mosquitto/data/

influxdb/*

# Andere Dateien/Ordner, die du möglicherweise auch ignorieren möchtest
*.log
*.bak
*.swp
